@{
	Layout = null;
}

<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
	<link href="~/Content/CSS/nicepage.css" rel="stylesheet" />
	<link href="~/Content/CSS/mainPage.css" rel="stylesheet" />
	<title>Main Page</title>


	<meta name="theme-color" content="#478ac9">
	<meta property="og:title" content="Main Page">
	<meta property="og:type" content="website">
</head>
<body class="u-body">
	<section class="u-clearfix u-image u-section-1" id="carousel_ed8f" data-image-width="1980" data-image-height="1114">
		<div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
			<div class="u-layout">
				<div class="u-layout-row">
					<div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1">
						<div class="u-container-layout u-container-layout-1"></div>
					</div>
					<div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
						<div class="u-container-layout u-container-layout-2">
							<img class="u-image u-image-default u-image-2" src="~/Content/images/logo2.png" alt="" data-image-width="1667" data-image-height="458">
							<h4 class="u-text u-text-white u-text-1">Faculty Of Nursing</h4>
							<h1 class="u-custom-font u-font-source-sans-pro u-text u-text-body-alt-color u-title u-text-2" spellcheck="false">Clinical Training Office Portal</h1>
							<a href="/Home/Login" class="u-align-center u-border-2 u-border-hover-white u-border-white u-btn u-btn-rectangle u-button-style u-gradient u-none u-radius-0 u-text-hover-palette-1-dark-2 u-btn-1" spellcheck="false">LOGIN</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	
</body>
</html>